<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title>Espace enseignant</title>

<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

<!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet" />

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

</head>
<body>
<h1>Bienvenue :
<span th:text="${firstname}"></span>
<span th:text="${lastname}"></span>
</h1>

<table>
   <tr>
   
      <th> Titre</th>
      <th> Date de création</th>
      <th> Date Limite</th>
      <th> Promotion</th>
      <th> Dépot</th>
      <th> Modifier</th>
      <th> Supprimer</th>
   </tr>
    <tr>

       <td>Java</td>
       <td>14/12/2016</td>
       <td>28/12/2016</td>
       <td>POEC 2016</td>
       <td> <a href="teacher_deposit.html">Voir dépots</a></td>
      <td><form method="Get" action="add_subject.html">
<input id="button6" type="submit" name="modifier" value="modifier" />
</form></td>
        <td><form method="Get" action="">
<input id="button7" type="submit" name="supprimer" value="supprimer" />
</form>
</td>
        
   </tr>
   
    <tr>

       <td>HTML</td>
       <td>05/12/2016</td>
       <td>25/12/2017</td>
       <td>POEI 2017</td>
       <td> <a href="teacher_deposit.html">Voir dépots</a></td>
      <td><form method="Get" action="teacher_subject1.html">
<input id="button6" type="submit" name="modifier" value="modifier" />
</form></td>
        <td><form method="Get" action="">
<input id="button7" type="submit" name="supprimer" value="supprimer" />
</form></td>
        
   </tr>
   
    <tr>

       <td>BDD</td>
       <td>12/11/2016</td>
       <td>20/12/2016</td>
       <td>POEC 2016</td>
       <td> <a href="teacher_deposit.html">Voir dépots</a></td>
      <td><form method="Get" action="teacher_subject1.html">
<input id="button6" type="submit" name="modifier" value="modifier" />
</form></td>
        <td><form method="Get" action="">
<input id="button7" type="submit" name="supprimer" value="supprimer" />
</form></td>
        
   </tr>
   
  </table>
  
  <form method="Get" action="home.html">
<input id="button8" type="submit" name="Se Deconnecter" value="Se Deconnecter" />
</form>

 <form method="Get" action="add_subject.html">
<input id="button9" type="submit" name="Nouveau Sujet" value="Nouveau Sujet" />
</form>
                

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script -->
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>		