<!DOCTYPE HTML>
<html>
<head>
    <title>Etudiant: mes devoirs</title>
    <link href="../static/css/subject_consult.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       
</head>
<body>
<h1>Deposer un devoir</h1>
<label>  Titre</label>
<input type="text" name="titre"  placeholder="Java"> </br>
<label>  Date de creation</label>
<input type="text" name=" Date de creation" placeholder="05/12/2016"> </br>
<label>  Date limite</label>
<input type="text" name="Date limite" placeholder="25/12/2016"> </br>
<label> URL</label>
<input></br>
<label>Groupe</label>
<input></br>
<input></br>
<input></br>
<form method="Get" action="">
<input id="button1" type="submit" name="Valider" value="Valider" >
</form>
<form method="Get" action="subject_view.html">
<input id="button3" type="submit" name="Annuler" value="Annuler" >
</form>
<form method="Get" action="home.html">
<input id="button2" type="submit" name="Se Deconnecter" value="Se Deconnecter" >
</form>





</body>
</html>
