<!DOCTYPE HTML>
<html>
<head>
<title>Subject</title>
 <link href="../static/css/subject_consult.css" rel="stylesheet" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Consulter mon sujet</h1>
<label>  Titre</label>
<input type="text" name="titre"  placeholder="Java"> </br>
<label>  Date de creation</label>
<input type="text" name=" Date de creation" placeholder="05/12/2016"> </br>
<label>  Date limite</label>
<input type="text" name="Date limite" placeholder="25/12/2016"> </br>
<label>  Promotion</label>
<input type="text" name="Promotion" placeholder="POEC"> </br>
<label>  Description</label>
<input type="text" name=" Description" placeholder="Réalisation du cahier des charges"> </br>
<label>URL</label>
<input type="text" name="URL" placeholder="www.depotgit.com"> </br>
<label>Taille de groupe</label>
 <input type="text" name="taille du groupe" placeholder="3"> </br>
 
<form method="Get" action="subject_view.html">
<input id="button1" type="submit" name="Mes Sujets" value="Mes sujets" >
</form>
<form method="Get" action="home.html">
<input id="button2" type="submit" name="Se Deconnecter" value="Se Deconnecter" >
</form>


</body>

</html>