<!DOCTYPE HTML>
<html>
<head>
    <title>Etudiant: mes sujets</title>
    <link href="../static/css/subject_view.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       
</head>
<body>
<h1>Etudiant: Mes Sujets</h1>

<table>
   <tr>
   
      <th> Sujet</th>
      <th> Date de création</th>
      <th> Date Limite</th>
      <th> Etat</th>
      <th> Action</th>
   </tr>
    
   <tr>

       <td><a href="subject_consult.html">Java</a></td>
       <td>14/12/2016</td>
       <td>28/12/2016</td>
       <td id="Etat1">En Attente</td>
       <td> <a href="homework_deposit.html">Déposer</a></td>
       
   </tr>
   
    <tr>

       <td><a href="subjectModify">Devoir2</a></td>
       <td>10/12/2016</td>
       <td>10/01/2017</td>
       <td id="Etat1">En Attente</td>
       <td id="deposer"> <a href="">Déposer</a></td>
       
   </tr>
   
    <tr>

       <td><a href="subject_view.html">Devoir3</a></td>
       <td>05/12/2016</td>
       <td>05/01/2017</td>
       <td id="Etat2">Déposé</td>
       <td id="modifier"> <a href="homework_deposit.html">Modifier</a></td>
       
   </tr>
   
   
  </table>
 <form method="Get" action="home.html">
<input id="button4" type="submit" name="Se Deconnecter" value="Se Deconnecter" />
</form>
</body>
</html>



