<!DOCTYPE HTML>
<html>
<head>
<title>Teacher: Devoirs Déposés</title>
 <link href="../static/css/subject_consult.css" rel="stylesheet" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Teacher: Devoirs Déposés</h1>

<table>
   <tr>
   
      <th> Groupe</th>
      <th> Fichier</th>
      <th>URL</th>
     
   </tr>
   <tr>
   <td>Emmanuel/Rahma/Aurélia</td>
    <td> <a href="http://monsite.fr/mondossier/pdf.pdf" download="pdf.pdf" > fichier.zip </a></td>
    <td></td>
    
   </tr>
   
   
    <tr>
   <td>mickael/Mathilde/joelle</td>
    <td> </td>
    <td> http://www.mondepot.fr</td>
    
   </tr>
   </table>
   <form method="Get" action="teacher_subject.html">
<input id="button8" type="submit" name="Mes sujets" value="Mes sujets" />
</form>

 <form method="Get" action="home.html">
<input id="button9" type="submit" name="se Deconnecter" value="se Deconnecter" />
</form>
   
   </body>
   </html>
   
   
   